{% extends 'base.html.twig' %}

{% block body %}
    <div class="contaner mt-4">
        <h1>Editer un bien </h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            
        {{form_end(form) }}
    </div>
{% endblock %}
