{% extends 'base.html.twig' %}

{% block title 'Tous les biens de notre agence' %}
{% block body %}
    <div class="container mt-4">
        <h1>View of all our brends and product, hope you enjoy our site </h1>
    </div>
{% endblock %}